* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.padding_site {
    padding-left: 98px;
    padding-right: 98px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(img/background_slider.jpg);
    position: relative;
}

.slider_head {
    padding-top: 63px;
}

.slider_menu {
    float: right;
}

.slider_menu_item {
    list-style-type: none;
    float: left;
}

.menu_link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 13px;
}

.menu_link:hover{
    color: #212121;
}

.menu_link_active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider_text {
    margin-top: 283px;
}

.slider_trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.slider_h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.slider_content {
    width: 458px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider_button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.slider_pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.pagination_circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.pagination_circle:hover
{
    background-color: #212121
}

.pagination_circle_active {
    height: 40px;
    width: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.chairs_zone
{
    height: 612px;
    background-color: white;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 104px;
    border: none;
}

.chairs_zone_header
{
    height: 100px
}

.chairs_zone_menu
{
    float: left;
    border-bottom: 1px SOLID #6c6c6c;
    padding-bottom: 8px;
    margin-bottom: 40px;
}

.chairs_zone_menu_item
{
    float: left;
    list-style-type: none;
}

.chairs_zone_menu_item_link
{
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}

.chairs_zone_menu_item_link_active
{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-left: 9px;
    margin-right: 20px;
    text-decoration: none;
}

.explore_all
{
    float: right;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
}

.chairs_zone_pictures
{
    width: 1185px;
}

.chair_img_first
{
    margin-left: none;
    margin-right: 15px;
}

.chair_img_last
{
    margin-right: none;
    margin-left: 15px;
}

.chair_img
{
    margin-left: 15px;
    margin-right:15px;
}

.chairs_exclusive_zone
{
    width: 100%;
    height: 683px;
}

.chairs_exclusive_zone_left
{
    float: left;
    background-image: url(img/after_chairs_zone/promo-img1.jpg);
    width: 50%;
    height: 100%;
}

.chairs_exclusive_zone_right
{
    float: left;
    background-image: url(img/after_chairs_zone/promo-img.jpg);
    width: 50%;
    height: 100%;
}

.trending_products
{
    height: 1110px;
    width: 100%
}

.trending_products_imgs
{
    height: 950px;
}

.hot_deal
{
    height: 800px;
    width: 100%;
    background-image: url(img/fishnet_chair_zone/slider.jpg);
}

.fishnet_chair_exclusive
{
    height: 820px;
    width: 100%;
}


.fishnet_chair_exclusive_left
{
    height: 570px;
    width: 570px;
    background-image: url(img/after_fishnet_chair_zone/product-1-lg.jpg);
    float: left;
}

.fishnet_chair_exclusive_right
{
    float: left;
    height: 570px;
    width: 570px;
}

.exclusive_fishnet_chair_block
{
    padding-left: 51px;
    padding-top: 228px;
}

.exclusive_fishnet_chair_title
{
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    letter-spacing: 1.8px;
}

.exclusive_fishnet_chair_h4
{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive_fishnet_chair_content
{
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    width: 374px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.trending_products
{
    height: 1118px;   
    margin-top: 100px;
    margin-left: 98px;
}

.trending_products_title
{
    display: inline-block;
    width: 1176px;
    margin-bottom: 36px;
}
.trending_products_h2
{
    float:left;
}

.trending_product_first_in_row_img
{
    margin-left: none;
    margin-right: 15px;
}
.trending_product_last_in_row_img
{
    margin-right: none;
    margin-left: 15px;
}

.trending_product_middle_img
{
    margin-left: 15px;
    margin-right: 15px;
}

.trending_product_first_line_img
{
    margin-bottom: 16px;
}
.trending_product_last_line_img
{
    margin-top: 16px;
}

.trending_products_h2
{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.hot_deal_part
{
    padding-top: 280px;
    padding-left: 104px;
}

.hot_deal_text
{
    position: relative;
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.hot_deal_title
{
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.hot_deal_content
{
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hot_deal_pagination {
    width: 1366px;
    text-align: center;
    bottom: -180px;
    position: relative;
}

.fishnet_chair_exclusive
{
    padding-top: 115px;
    padding-left: 98px;
}

.fishnet_chair_exclusive_left
{
    margin-right: 16px;
}

.fishnet_chair_exclusive_right
{
    margin-left: 16px;
}

.first_row
{
    margin-bottom: 20px;
}

.last_row
{
    margin-top: 20px;
}

.first_item_img
{
    margin-right: 12px;
}
.second_item_img
{
    margin-left: 12px;
}

.third_item_img
{
    margin-right: 12px;
}

.fourth_item_img
{
    margin-left: 12px;
}